#custom-seekbar {  
  cursor: pointer;
  height: 17px;
  margin-bottom: 0px;
  background:black;
  overflow:visible;
  position: relative;
  width: 100%;
  left: 0%;
  border:thin;
  border-right:0px;  
  border-color:red;
  
}

#custom-seekbar span {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 0px;
}

#custom-seekbar span:after {
  content: '■';
  display:block;
  position: absolute;
  background-color: blue;
  width:12px;
  color: blue;
  top: 0;
  right: 0;
  overflow:hidden
  
}

#custom-seekbar span.hover:after {
  content: '■';
  display:block;
  position: absolute;
  background-color: red;
  color: red;
  top: 0;
  right: 0%;
}

.bar {
  height: 18px;
  margin-bottom: 2px;
  background:black;
  overflow: hidden;
  position: absolute;
  width: 100%;
  left: 0%;
  border:thin;
  border-right:0px;  
  border-color:black;
  top: 10%
  
}



#custom-seekbar2 {  
  cursor: pointer;
  height: 17px;
  margin-bottom: 0px;
  background:black;
  overflow:visible;
  position: relative;
  width: 100%;
  left: 0%;
  border:thin;
  border-right:0px;  
  border-color:red;
  
}

#custom-seekbar2 span {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 0px;
}

#custom-seekbar2 span:after {
  content: '■';
  display:block;
  position: absolute;
  background-color: blue;
  width:12px;
  color: blue;
  top: 0;
  right: 0px;
  overflow:hidden
  
}

#custom-seekbar2 span.hover:after {
  content: '■';
  display:block;
  position: absolute;
  background-color: red;
  color: red;
  top: 0;
  right: 0%;
}

.bar2 {
  height: 10px;
  margin-bottom: 10px;
  background:black;
  overflow: hidden;
  position: absolute;
  width: 49.95%;
  right: 1%;
  border:thin;
  border-right:0px;  
  border-color:red;
  bottom: 220px

}


/* following rule is for hiding Stack Overflow's console */
.as-console-wrapper{ display: none !important;}

