#custom-seekbar {  
  cursor: pointer;
  height: 17px;
  margin-bottom: 10px;
  background:black;
  overflow: hidden;
  position: absolute;
  width: 50.15%;
  left: .25%;
  border:thin;
  border-right:0px;  
  border-color:red;
 
 
}

#custom-seekbar span {
  background-color: silver;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 0px;
}

#custom-seekbar span:after {
  content: '■';
  display:block;
  position: absolute;
  background-color: blue;
  width:12px;
  color: blue;
  top: 0;
  right: 0;
}

#custom-seekbar span.hover:after {
  content: '■';
  display:block;
  position: absolute;
  background-color: red;
  color: red;
  top: 0;
  right: 0;
}



#custom-seekbar2 {  
  cursor: pointer;
  height: 17px;
  margin-bottom: 0px;
  background:black;
  overflow:hidden;
  position: absolute;
  width: 49.45%;
  left: 50.55%;
  border:thin;
  border-right:0px;  
  border-color:red;
  
}

#custom-seekbar2 span {
  background-color: silver;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 0px;
}

#custom-seekbar2 span:after {
  content: '■';
  display:block;
  position: absolute;
  background-color: blue;
  width:12px;
  color: blue;
  top: 0;
  right: 0;
  
}

#custom-seekbar2 span.hover:after {
  content: '■';
  display:block;
  position: absolute;
  background-color: red;
  color: red;
  top: 0;
  right: 0%;
}

.bar {
  height: 18px;
  margin-bottom: 2px;
  background:transparent;
  overflow: hidden;
  position: absolute;
  width: 99%;
  left: 0%;
  border:thin;
  border-right:0px;  
  border-color:red;
  bottom: 240px

}

.bar2 {
  height: 10px;
  margin-bottom: 10px;
  background:black;
  overflow: hidden;
  position: absolute;
  width: 49.95%;
  right: 1%;
  border:thin;
  border-right:0px;  
  border-color:red;
  bottom: 220px

}




/* following rule is for hiding Stack Overflow's console */
.as-console-wrapper{ display: none !important;}

