#custom-seekbar {  
  cursor: pointer;
  height: 17px;
  margin-bottom: 0px;
  background:black;
  overflow:visible;
  position: relative;
  width: 100%;
  left: 0%;
  border:thin;
  border-right:0px;  
  border-color:red;
  
}

#custom-seekbar span {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 0px;
}

#custom-seekbar span:after {
  content: '■';
  display:block;
  position: absolute;
  background-color: blue;
  width:12px;
  color: blue;
  top: 0;
  right: 0;
  overflow:hidden
  
}

#custom-seekbar span.hover:after {
  content: '■';
  display:block;
  position: absolute;
  background-color: red;
  color: red;
  top: 0;
  right: 0%;
}

.bar {
  height: 18px;
  margin-bottom: 2px;
  background:black;
  overflow: hidden;
  position: absolute;
  width: 100%;
  left: 0%;
  border:thin;
  border-right:0px;  
  border-color:black;
  top: 10%
  
}



#custom-seekbar2 {  
  cursor: pointer;
  height: 17px;
  margin-bottom: 0px;
  background:black;
  overflow:visible;
  position: relative;
  width: 100%;
  left: 0%;
  border:thin;
  border-right:0px;  
  border-color:red;
  
}

#custom-seekbar2 span {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 0px;
}

#custom-seekbar2 span:after {
  content: '■';
  display:block;
  position: absolute;
  background-color: blue;
  width:12px;
  color: blue;
  top: 0;
  right: 0px;
  overflow:hidden
  
}

#custom-seekbar2 span.hover:after {
  content: '■';
  display:block;
  position: absolute;
  background-color: red;
  color: red;
  top: 0;
  right: 0%;
}

.bar2 {
  height: 10px;
  margin-bottom: 10px;
  background:black;
  overflow: hidden;
  position: absolute;
  width: 49.95%;
  right: 1%;
  border:thin;
  border-right:0px;  
  border-color:red;
  bottom: 220px

}


/* following rule is for hiding Stack Overflow's console */
.as-console-wrapper{ display: none !important;}



/* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  padding:6px;
  margin: 6px;
  font-size: 16px;
  border: 12x;
  border-radius: 6px;
  border-color:red;
  min-width:150px
}

.dropbtn .box {
  position:absolute;
  visibility: hidden;
  width: 200x;
  height:375px;
  background-color: black;
  border-color: silver;
  color: white;
  font-size:14px;
  text-decoration:blink;
  font-weight:bold;
  text-align: left;
  padding-left: 5px;
  padding-top: 5px;
  margin-left: 0px;
  display: block;
  align-items: left;
  border-width:2px;
  border-style:inset;
  border-radius: 6px;
  border-color:red;
  line-height: 20px;
  right: 0%;
  bottom: 100%;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  
}

.dropbtn:hover .box, .dropbtn:focus .box, .dropbtn:focus-within .box {
  visibility: visible;
  overflow:visible;
}


.dropbtn .box2 {
  position:absolute;
  visibility: hidden;
  width: 200x;
  height:140px;
  background-color: black;
  border-color: silver;
  color: white;
  font-size:14px;
  text-decoration:blink;
  font-weight:bold;
  text-align: left;
  padding-left: 5px;
  padding-top: 5px;
  margin-left: 0px;
  display: block;
  align-items: left;
  border-width:2px;
  border-style:inset;
  border-radius: 6px;
  border-color:red;
  line-height: 20px;
  right: 0%;
  bottom: 100%;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  
  
}

.dropbtn:hover .box2, .dropbtn:focus .box2, .dropbtn:focus-within .box2 {
  visibility: visible;
  overflow:visible;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {  
  position:relative;
  display: inline-block;
  left: 0%;
  text-align: center;
  padding-top:4px;
  padding-bottom:2px;
  z-index: 1;
  border: 4px;
  border-radius: 4px;
  border-color:red
}




/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position:absolute;
  display: none;  
  background-color: black;
  color:white;
  font-weight:600;
  max-width: 150px;
  height: 120px;
  overflow:scroll;
  border: 2px;
  border-radius: 4px;
  border-color:red;
  padding:2px;
  margin: 2px;
  
 
 
}
  
  

/* Links inside the dropdown */
.dropdown-content a {
  
  color: white;
  padding: 4px 4px;
  text-decoration: blink;
  display: block;
  border: 12x;
  border-radius: 8px;
  border-color:white

  
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: pink;
  color:black

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  position:relative;

}





/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: pink;
  min-width: 150px;
  color: white;
  border: 12x;
  border-radius: 6px;
  border-color:black;
}





/* Dropdown Button */
.dropbtn2 {
  background-color: black;
  color: white;
  padding:6px;
  font-size: 16px;
  border: 12x;
  border-radius: 6px;
  border-color:red;
  min-width:150px

}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {  
  position:relative;
  display: inline-block;
  right: 0%;
  text-align: center;
  padding-top:10px;
  padding-bottom:5px;
  z-index: 1;
  border: 4px;
  border-radius: 4px;
  border-color:red
}

/* Dropdown Content (Hidden by Default) */
.dropdown2-content {
  position:absolute;
  display: none;  
  background-color: black;
  color:white;
  font-weight:600;
  max-width: 150px;
  height: 200px;
  overflow:scroll;
  border: 6px;
  border-radius: 4px;
  border-color:red;
  padding:6px;
  margin: 4px;
}
  
  

/* Links inside the dropdown */
.dropdown2-content a {
  
  color: white;
  padding: 8px 8px;
  text-decoration: blink;
  display: block;
  border: 12x;
  border-radius: 8px;
  border-color:white

  
}

/* Change color of dropdown links on hover */
.dropdown2-content a:hover {
  background-color: pink;
  color:black

}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown2-content {
  display: block;
  position:relative;

}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown2:hover .dropbtn2 {
  background-color: pink;
  min-width: 150px;
  color: white;
  border: 12x;
  border-radius: 6px;
  border-color:black;
}


