body {
  background-color: silver;
  width:100%; height:100%;
}

canvas { display:block; 
} /* To remove the scrollbars */


h1 {
	color: #696969;
	font-family:Cambria;
	font-size:12px
}


.swapvideo {
	width: 50%;
    float: left;
    padding-right: 3px;
}
.swapvideo .swaptitle {
	margin-bottom: 20px;
}
.swapvideo .overlayvideo {
    position:inherit
}
.canvas-container {
    position: absolute !important;
    width:50%;
}
.swapvideo .overlayvideo .video-js {
    width: 100%;
}
.swaptitle h2 {
	text-align: center;
}
.swap_video_btn {
    width: 100%;
}
.swap_video_btn .playbtninner {
    width: auto;
    margin: 0;
}

.swap_video_btn .play_block_center {
    width: 100%;
    overflow: hidden;
    text-align: left;
    margin-top: 15px;
}


.line-drawing-tools{
    position: flex;
    font-size: 16px;
    color: white;
    background-color:black;
    font-weight:600;
    border:2px;
    border-color: red;
    border-radius: 4px;
    bottom:2px;
    padding-top:2px
}

.line-drawing-tools:hover{
    
    color: black;
    background-color: lightgreen;
    border:4px;
    border-color: red;
    border-radius: 4px
}


.line-drawing-tools2{
    position: absolute;
    width: 410px;
    right: 1%;
    background-color:transparent;
    bottom:4px;
    padding-top:2px
}

.line-drawing-tools2btn{
    display:inline-block;
    width: 180px;
    
    font-size: 16px;
    color: white;
    background-color:black;
    font-weight:600;
    border:6px;
    border-color: red;
    border-radius: 6px;
    padding-top:2px 2px;
}

.line-drawing-tools2btn:hover{
    color: black;
    background-color: lightgreen;
    border-color: black;
}



.toolblock .inner_tool {
    width: 100%;
    overflow: hidden;
   
}

.toolblock .inner_tool button {
    height:40px;
    width:40px;    
    font-size: 28px;
    color:blue;
    line-height: 39px;
    background: lightgreen;
    border: 1px solid red;
    border-radius: 4px;
    float: left;
    padding:0px;
    margin:2px 2px;
    
}

.toolblock .inner_tool button:last-child {
     border-right: 3px dotted red;
    }
.toolblock .inner_tool button.active {
    background: #E9E9E9;
}
.toolblock .inner_tool button .toolicon1 {
    background-position: -701px 0;
}
.toolblock .inner_tool button .toolicon2 {
    background-position: -656px 0;
}
.toolblock .inner_tool button .toolicon3 {
    background-position: -610px -3px;
}
.toolblock .inner_tool button .toolicon4 {
    background-position: -559px 0;
}
.toolblock .inner_tool button .toolicon5 {
    background-position: -513px 0;
}
.toolblock .inner_tool button .toolicon6 {
    background-position: -465px 0;
}
.toolblock .inner_tool button .toolicon7 {
    background-position: -415px 0;
}
.toolblock .inner_tool button .toolicon8 {
    background-position: -375px 0;
}
.toolblock .inner_tool button .toolicon9 {
    background-position: -325px -1px;
}
.toolblock .inner_tool button .toolicon10 {
    background-position: -283px -1px;
}
.toolblock .inner_tool button .toolicon11 {
    background-position: -240px 0;
}
.toolblock .inner_tool button .toolicon12 {
    background-position: -194px 0;
}

.toolblock .inner_tool button .toolicon13 {
    background-position: -148px -1px;
}

.toolblock .inner_tool button .toolicon14 {
    background-position: -103px -1px;
}

.toolblock .inner_tool button .toolicon15 {
    background-position: -57px 0;
}

.toolblock .inner_tool button .toolicon16 {
    background-position: -9px 0;
}


.toolblock .inner_tool button i {
    background: url('../images/toolimg5.png') no-repeat;
    width: 36px;
    height: 36px;
    display:block;
    margin: 1px auto;
    border:thin none black;
}

.inner_tool button:focus-within {
  color: black;
  font-weight:normal;
  text-decoration:underline;
}

.inner_tool button .hint {
  visibility: hidden;
  width: 50%;
  height:28px;
  background-color: lightgreen;
  border-color: silver;
  color: black;
  font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size:14px;
  text-decoration:blink;
  font-weight:bold;
  text-align: center;
  padding-left: 1px;
  margin-left: 0px;
  display: inline-block;
  align-items: center;
  border-width:2px;
  border-style:inset;
  border-radius: 6px;
  line-height: 24px;
  right: 25%;
  bottom: 35%;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.inner_tool button:hover .hint, .uploadbutton:focus .hint, .uploadbutton:focus-within .hint {
  visibility: visible;
}



.playblock {
   padding-bottom:5px;
   bottom: 2px:
	
}

.bothplay .navbtn i {
    width: 20px;
    height: 14px;
}

.playblock .navbtn {
    width: 36px;
    height: 36px;
    top: 2px;
    background-color:black
}
.playblock .navbtn:hover {
    background: lightgreen;
    border:2px;
    border-color:black;
    border-radius: 2px;
    position: relative;
    top: 1px;
    
}

.playblock button {
    border: none;
    padding: 0;
    background-color:black;
}

.playblock .playbtn {
    width: 120px;
    height: 37px;
    line-height: 37px;
    font-size: 20px;
    
}

.playbtninner .playblock .playbtn {
   
    background: black;
    width: 140px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    font-family: 'ralewaybold';
    color:white;
}

.playbtninner .playblock .playbtn:hover {    
    background:lightgreen;
    color:black;
    font-weight:bold;
    font-style:italic
}

.playblock .navbtn .nexticon {
    background: url("../images/next_arrow.png") no-repeat;
    background-size: auto;
    background-size: auto;
    background-size: 100% auto;
}
.playbtninner .playblock .navbtn i {
    margin: 0 auto;
    width: 18px;
    height: 15px;
    display: block;
}
.playbtninner .playblock .navbtn i {
    width: 15px;
    height: 13px;
}
.playbtninner .playblock .navbtn .preicon {
    background: url("../images/previous_arrow.png") no-repeat;
    background-size: auto;
    background-size: 100% auto;
}
.video_palybtnblock{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.video_palybtnblock .zoombtn {
    margin: 6px 0;
}

.video_palybtnblock .zoombtn button{
    display:inline-block;
    align: center;
    background-color:black;
    padding: 1px 10px;
    cursor: pointer;
    font-size:16px;
    font-weight:600;
    color:white;
    border:1px:red;
    border-radius:4px;
    border-color:red;
    height:30px;
    width:100px
} 

.video_palybtnblock .zoombtn button:hover{
    background-color:lightgreen;
    border-color:black;
    color:black
     
} 

.video_palybtnblock .slowmotion h4{
    font-size: 12px;
    font-weight: 600;
}

.slowmotionblock button{
    background-color: lightgreen;
    border:1px solid red;
    border-radius: 4px;
    padding: 4px 10px;
    cursor: pointer;
}
.slowmotionblock button.active{
    background-color: black;
    color:white
}

.PGcontain {
   left:3%;
   right: 2%;
   overflow:hidden

}

.PGcol-sm-12 {
    position: absolute !important;
    left:  5%;
    right: 5%;
    bottom:2%;
    background-color:transparent;
    overflow:hidden
}


#video-canvas {
    top:0%;
    left:  0%;
    left: 0%;
    bottom:0%;
    background-color:transparent;
    overflow:hidden;
    
}

#video-canvas1 {
    top:0%;
    left:  0%;
    right: 0%;
    bottom:0%;
    background-color:transparent;
    overflow:hidden;
}

